{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>TB-VideoGames-Shop</title>
    </head>
    <style>
        body {
          background-color: #494949;
        }

        form {
          background-color: white;
          height: 50%;
          width: 50%;
          position: absolute;
          top: 25%;
          left: 25%;
        }
    </style>
    <body>
        <form action="" method="post">
            <h1 align="center">Регистрация</h1>
            {{ form.hidden_tag() }}
            <p align="center">
                {{ form.name.label }}<br>
                {{ form.name(class="form-control") }}<br>
                {% for error in form.name.errors %}
                    <p class="alert alert-danger" role="alert" align="center">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p align="center">
                {{ form.password.label }}<br>
                {{ form.password(class="form-control", type="password") }}<br>
                {% for error in form.password.errors %}
                    <p class="alert alert-danger" role="alert" align="center">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p align="center">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            <p align="center">или <a href="/authorisation">пойдите назад</a></p>
            <div align="center">{{ message }}</div>
        </form>
    </body>
{% endblock %}